<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device,initial-scale=1.0">
        <link rel="stylesheet" href="styleSQLpage.css">
    </head>
   
    <body>

        <div class="wrapper">
          
          <div class="top_navbar">
            <div class="hamburger">
               <div class="one"></div>
               <div class="two"></div>
               <div class="three"></div>
            </div>
            <div class="top_menu">
              <div class="Hedder">
                SQL Injection Attacks

              </div>
            
            </div>
          </div>
          
          <div class="sidebar">
              <ul>
                <li><a href="../Homepage/homepage.html">Homepage</a>
                <li><a href="../Homepage/homepage.html">Homepage</a>
                <li><a href="../Homepage/homepage.html">Homepage</a>

            </ul>
          </div>
          
          <div class="main_container">
            <div class="item">
                What is an SQL Injection Attack? 
            </div>
            <div class="item">
              An SQL injection attack is when there is a flaw in the code of websites. This flaw allows hackers to hack into the website useing SQL malicious code and access, extract, and delete your classified information in your database. Almost 30% of websites and web applications have a SQL injection vulnerability on initial scan.   SQL stands for structured query language.
            </div>
            <div class="item">
              A real-life example of an SQL Injection attack was in August 2007, attackers used an SQL injection attack to steal over 130 million credit card numbers. The attackers were known as HBGary attackers. They used SQL injections to take down the 7-eleven website.
            </div>
            <div class="item">
              When a normal person gets attacked by an SQL injection attack, they can lose almost all of their data. Your data can be tampered with, it can be destroyed, it can be stolen, and the attacker can become administrator of your database. This can give your sensitive information away. When big companies get attacked, they can be affected but the customers are more at risk as they usually try to get the customers' information like their card numbers or their information that they have used to make an account with the companies.  
            </div>
            <div class="item">
              How can you protect yourself against SQL injection attacks? You can filter inputs on your device, you can restrict database code and access so the hacker can't get into your database. And you should aways update applications to the latest version for better security. These are just a few easy things you can do to prevent an SQL injection attack. 
            </div>
           

       
    </body>
</html>