*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-content: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff ;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
    font-size: 20px;   
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #fff;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}



h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: fff;
}
.sub-header{
    height: 50vh;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: url(4images/code-image-header.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-left{
    flex-basis: 65%;
    clear: both; 
    padding-top: 20px;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.blog-left p{
    color: #999;
    padding: 0;
}
.blog-img{
    width: 50%;
    float: left;
}
.blog-right{
    flex-basis: 32%;
    width: 50%;
    float: left;
}
.blog-right h3{
    background: #00065c;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}
h4{
    text-align: center;
}

img{
    width: 90%;
}
.blog-right p{
    text-align: center;
}
.blog-right p{
    color: #999;
    padding: 0;
}