* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-color: #e6146c;
    }
    
h1 {
    text-align: center;
    padding: 20px;
}

a{
    display:block;
    background-color:black ; 
    padding: 20px; 
    color:rgb(175, 83, 83); 
    width:33.3%;
    float:left;
    text-align:center; 
}

a:hover{ 
    background-color: white;
    color: black;

}

#column {
    background-color: #8d8e94;
    border: 2px black solid;
    width: 33.33%;
    float: left;
    color: black;
    text-align: center;
    padding-bottom: 50px;
    }
    

#row2 {
    background-color: #da4141;
    }
#picture {
    width: 50%;
    float: left;
    }
img {
    width: 100%;
    }




